<!DOCTYPE html>
<html>
<head>
    <title>SiwMovie - Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" th:href="@{/css/ysabeau-font.css}" >
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
</style>

<body>
<header>
    <div th:if="${#request.userPrincipal}">
        <span th:text="${#request.userPrincipal.principal.username}"></span>
        <a href="/logout">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
        </a>
    </div>
    <div th:unless="${#request.userPrincipal}">
        <a href="/login"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
        </a>
    </div>
</header>

<div class = "logo">
    <img src="/images/logo-siw.png" width="50%"/>
</div>
<h1>Benvenuti al Roma Tre Movie Database!
    Qui puoi consultare i film e gli artisti nel database:</h1>
<h2>Consulta l'archivio</h2>
<div class = "menu">
    <a href="/user/moviesUser">
        <img src="images/movie-icon.png" alt="film logo" />
        <span>Elenco Film</span>
    </a>
    <a href="/artist">
        <img src="images/actor-icon.png" alt="artist logo" />
        <span>Elenco Artisti</span>
    </a>
</div>
</body>

</html>
