<!DOCTYPE html>
<html>
<head>
    <title>Recensione</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
<header>
    <div th:if="${#request.userPrincipal}">
        <span th:text="${#request.userPrincipal.principal.username}"></span>
        <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
        <a href="/login">Login</a>
    </div>
</header>

<div><a href="/static"><img src="/images/logo-siw.png" width="50%" /></a></div>

<h1 th:text="'Hai inserito una nuova recensione per il film ' + ${movie.title}"></h1>
	<div>
		<h2>Titolo: </h2>
		<h3 th:text="${review.title}"></h3>
	</div>
	<div>
		<h2>Valutazione: </h2>
		<span th:text="${review.rate}"></span>
	</div>
	<div>
		<h2>Commento: </h2>
		<span th:text="${review.comment}"></span>
	</div>

	<div>
	<a th:href="@{'/movie'}">Torna all'elenco di film</a>
	</div>
</body>
</html>