@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,600&display=swap');

body {
    font-family: Ysabeau Office;
    color:#cccccc;
    background-blend-mode: multiply;
    background-image: url("/images/movies.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7); /* Trasparenza di sfondo */
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body > div {
    margin-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Trasparenza di sfondo per l'header */
    padding: 5px;
    justify-content: end;
    text-align: right;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    width: 30%;
}

h1 {
    color: lightskyblue;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

#flex-container {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

a {
    text-decoration: none;
    color: lightblue;
}

a:hover {
    text-decoration: underline;
}

.artist-inf {
    display:block;
    justify-content: left;
    max-width : 50%;
    padding : 10px;
}

.image-section {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 30%;
    /*max-width: 50px;*/
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 5px;
    justify-content: center;
}

.footer_div {
    display: flex;
    justify-content: center;
}