body {
    font-family: "Geneva";
    color:dimgrey;
    background-image: url("/images/movies.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7); /* Trasparenza di sfondo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body > div {
    margin-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Trasparenza di sfondo per l'header */
    padding: 10px;
    justify-content: end;
    text-align: right;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    width: 100%;
    max-width: 600px;
}

h1 {
    margin-top: 0;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 10px;
    color: white;
}

form span {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    width: 96%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-box {
    background-color: #555555;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}