@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,600&display=swap');

body {
    font-family: 'Ysabeau Office';
    color:dimgrey;
    background-image: url("/images/movies.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7); /* Trasparenza di sfondo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body > div {
    margin-bottom: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Trasparenza di sfondo per l'header */
    padding: 5px;
    justify-content: end;
    text-align: right;
}

h1, h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

span {
    margin-top: 10px;
}

header.a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 30%;
}

.general {
    width: 100%;
}

.card-deck {
    max-width: 90%;
    max-height: 90%;
    padding: 25px;
    color: #555555;
}

.containitor {
    display: flex;
    justify-content:center;
}



.card-columns {
    max-width: 90%;
    max-height: 90%;
    /*padding: 25px;*/
    /*color: #555555;*/
}

.card {
    max-height: 400px;
    max-width: 200px;
}

.card-title.a {
    font-size: 5px;
    color: dodgerblue;
}

.card-img-top {

    max-height: 300px;
    max-width: 200px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 5px;
    justify-content: center;
}

.footer_div {
    display: flex;
    justify-content: center;
}