@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,600&display=swap');

body {
    font-family: Ysabeau Office;
    color:#cccccc;
    background-blend-mode: multiply;
    background-image: url("/images/movies.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7); /* Trasparenza di sfondo */
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body > div {
    margin-bottom: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Trasparenza di sfondo per l'header */
    padding: 5px;
    justify-content: end;
    text-align: right;
}

a {
    text-decoration: none;
    color: lightseagreen;
}

header,footer a {
    text-decoration: none;
    color: white;
    font-size: 0.6em;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    width: 30%;
}

h1 {
    color: lightskyblue;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

#flex-container {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.movie-section {
    display:block;
    justify-content: left;
    max-width : 50%;
    padding : 10px;
}

.container {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    width: 30%;
    /*max-width: 50px;*/
}

.movie-image {
    max-width: 100%;
    max-height: 100%;
}

.review-section {
    display:block;
    justify-content: right;
    max-width : 50%;
    padding: 10px;
}

/*=======================================
  =================SCENE=================
  =======================================*/

.slideshow-container {
    position: relative;
    width: 650px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
}

.slideshow-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slideshow-image {
    flex: 0 0 100%;
    object-fit: contain;
    height: 100%;
}

.mySlides {
    height: 500px;
    width: 650px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/*=======================================
  =================footer=================
  =======================================*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 5px;
    justify-content: center;
}

.footer_div {
    display: flex;
    justify-content: center;
}