<!DOCTYPE html>
<html>

<head>
	<title>Scelta regista</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1 th:text="'Regista per il film ' + ${movie.title}"></h1>
	<div th:if="${artists.isEmpty()}">Non ci sono registi nel sistema</div>
	<ul>
		<li th:each="artist : ${artists}">
			<a th:href="@{'/admin/setDirectorToMovie/'+ ${artist.id}+'/'+${movie.id}}"
				th:text="${artist.name} + ' ' + ${artist.surname}">Steven Spielberg</a>
		</li>
	</ul>
</body>

</html>