<!DOCTYPE html>
<html>

<head>
	<title>Elenco Artisti</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/artists.css" />
</head>

<body>
<header>
	<div th:if="${#request.userPrincipal}">
		<span th:text="${#request.userPrincipal.principal.username}"></span>
		<a href="/logout">
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
		</a>
	</div>
	<div th:unless="${#request.userPrincipal}">
		<a href="/login"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
		</a>
	</div>
</header>

	<div class="logo"><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>

	<div class = "general">
	<h1>Artisti presenti nel database</h1>
	<div  th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
		<div th:each="artist : ${artists}">
			<div class="container">
			<a class = "color" th:href="@{'/artist' + '/' + ${artist.id}}"
				th:text="${artist.name} + ' ' + ${artist.surname}">Dino Risi</a>
		</div>
	</div>
	</div>
</body>

<footer>
	<div class="footer_div">
		<a href="/">
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Torna indietro</button>
		</a>
	</div>
</footer>

</html>