<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        SiwMovie - Registrazione
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Main style -->
    <link rel="stylesheet" href="/css/formRegisterUser.css"/>

</head>

<body>
<header>
    <div th:if="${#request.userPrincipal}">
        <span th:text="${#request.userPrincipal.principal.username}"></span>
        <a href="/logout">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
        </a>
    </div>
    <div th:unless="${#request.userPrincipal}">
        <a href="/login">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
        </a>
    </div>
</header>

<div class="logo">
    <a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
</div>

<!--<div class="page-content">-->
<div class="form-v9-content">
    <form class="form-detail" t h:action="@{/register}" method="POST">
        <h2>Registrazione nuovo utente</h2>
        <div class="form-row-total">
            <!--                <label>Username</label>-->
            <div class="form-row">
                <input class="input-text" type="text" placeholder="username" required
                       th:field="${credentials.username}"/>
            </div>
            <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"
                  th:style="'color:red'"></span>

            <div class="form-row">
                <!--                    <label>Password</label>-->
                <span><input type="password" placeholder="password" required th:field="${credentials.password}"/>
			</span>
                <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"
                      th:style="'color:red'"></span>
            </div>
        </div>
        <div class="form-row-total">
            <div class="form-row">
                <!--                    <label>Nome</label>-->
                <span><input type="text" placeholder="name" required th:field="${user.name}"/></span>
                <span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'">
			</span>
            </div>
            <div class="form-row">
                <!--                    <label>Cognome</label>-->
                <span><input type="text" placeholder="surname" required th:field="${user.surname}"/></span>
                <span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"
                      th:style="'color:red'"></span>
            </div>

            <div class="form-row">
                <!--                <label>Email</label>-->
                <span><input type="text" placeholder="email" required th:field="${user.email}"/></span>
                <span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'">
			</span>
            </div>
        </div>
        <div class="form-row-last">
            <button name="register" class="register" type="submit">Registra</button>
        </div>
    </form>
</div>
<!--</div>-->
</body>

</html>