<!DOCTYPE html>
<html>
<head>
    <title>SiwMovie - Homepage</title>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
<header>
    <div th:if="${#request.userPrincipal}">
        <span th:text="${#request.userPrincipal.principal.username}"></span>
        <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
        <a href="/login">Login</a>
    </div>
</header>

<div class = "logo">
    <img src="/images/logo-siw.png" width="50%"/>
</div>
<h1>Benvenuti al Roma Tre Movie Database!</h1>
<h2>Qui puoi consultare i film e gli artisti nel database:</h2>
<h1>Consulta l'archivio</h1>
<div class = "menu">
    <a href="/movie">
        <img src="images/movie-icon.png" alt="film logo" />
        <span>Elenco Film</span>
    </a>
    <a href="/artist">
        <img src="images/actor-icon.png" alt="artist logo" />
        <span>Elenco Artisti</span>
    </a>
</div>
</body>

</html>
