<!DOCTYPE html>
<html>

<head>
    <title>Film</title>
    <link rel="stylesheet" href="/css/movie.css"/>
</head>
<header>
    <div th:if="${#request.userPrincipal}">
        <span th:text="${#request.userPrincipal.principal.username}"></span>
        <a href="/logout">Logout</a>
    </div>
    <div th:unless="${#request.userPrincipal}">
        <a href="/login">Login</a>
    </div>
</header>
<body>

<div class="logo">
    <a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
</div>

<div id="flex-container">
    <div class="movie-section">
        <h1 th:if="${movie}" th:text="${movie.title + ' (' + movie.year + ')'}">Dettagli Film</h1>
        <div th:unless="${movie}">Non esiste</div>

        <!-- regista -->
        <h2>Regista:</h2>
        <div th:if="${movie.director}">
            <span th:text="${movie.director.name} + ' ' + ${movie.director.surname}"></span>
        </div>
        <div th:unless="${movie.director}">
            <h2>Nessun regista per questo film</h2>
        </div>

        <!-- attori -->
        <h2>Cast:</h2>
        <div th:if="${!movie.actors.isEmpty()}">
            <ul>
                <li th:each="actor : ${movie.actors}">
                    <span th:text="${actor.name} + ' ' + ${actor.surname}"></span>
                </li>
            </ul>
        </div>
        <div th:unless="${!movie.actors.isEmpty()}">
            <h2>Non ci sono attori per questo film</h2>
        </div>
    </div>

    <div class="container">
        <!-- immagine --->
        <h2>Locandina:</h2>
        <img class="movie-image" th:src="@{'data:image;base64,' + ${movie.photo}}"/>

    </div>
    <div class="review-section">
        <!-- recensioni -->
        <h2>Recensioni:</h2>
        <div th:if="${!movie.reviews.isEmpty()}">
            <ul>
                <li th:each="review: ${movie.reviews}">
                    <div>Titolo: <span th:text="${review.title}"></span></div>
                    <div>Voto: <span th:text="${review.rate}"></span></div>
                    <div>Commento: <span th:text="${review.comment}"></span></div>
                </li>
            </ul>
        </div>
        <div th:unless="${!movie.reviews.isEmpty()}">
            <h2>Non ci sono recensioni per questo film</h2>
        </div>
    </div>
</div>

</body>
<footer>
    <div>
        <a href="javascript:void(0);" onclick="history.back();">Torna indietro</a>
    </div>
</footer>
</html>
